################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Integration.AI/bin/Debug/net9.0
/Integration.AI/obj
/StutterFix/bin/Debug/net9.0
/StutterFix/obj
/Integration.OpenAI/bin/Debug/net9.0
/Integration.OpenAI/obj
